*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;   // 1rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
}

.user-input {
    &__field {
        width: 100%;
        height: 10rem;
        padding: 2rem 4rem;
        font-size: 4rem;
        text-align: right;
    }
}

.button-grp {
    &__item {
        width: 100%;
        height: 10rem;
        border-radius: 50%;
        background-color: #ccc !important;
        font-size: 2rem !important;
        font-weight: bold !important;

        @media (max-width: 600px){
            height: 8rem;
        }
    }
}